*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #222;
}
a
{
	text-decoration: none;
}
main
{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
main::after
{
	content: '';
	filter: blur(15px);
	width: 100%;
	height: 100vh;
	background: url('../img/001.jpg');
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.box
{
	width: 70%;
	height: 70%;
	z-index: 2;
	background-color: #FFF;
	display: flex;
	align-items: center;
	box-shadow: 0px 0px 30px #222;
}
figure
{
	width: 35%;
	height: 100%;
	overflow: hidden;
}
figure img
{
	height: 100%;
}
.box-2
{
	width: 65%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 60px;
}
.title-1
{
	font-size: 60px;
	color: #555;
	padding: 30px 0;
}
.title-2
{
	font-size: 30px;
	color: #999;
	text-transform: uppercase;
}
.title-3
{
	font-size: 15px;
	color: #999;
	text-transform: uppercase;
}
.line
{
	border: 2px solid #cf7901;
	width: 100%;
	margin-bottom: 30px;
}
span
{
	font-size: 30px;
	color: inherit;
}

@media only screen and (min-width: 823px) and (max-width: 1200px)
{
	.title-1
	{
		font-size: 40px;
	}
}

@media only screen and (max-width: 822px)
{
	.box
	{
		flex-direction: column;
		width: 80%;
		height: 90%;
	}
	figure
	{
		width: 100%;
		height: 35%;
	}
	figure img
	{
		width: 100%;
		height: auto;
	}
	.box-2
	{
		width: 100%;
		height: 65%;
		padding: 35px;
	}
	.title-1
	{
		font-size: 30px;
	}
	.title-2
	{
		font-size: 20px;
	}
	span
	{
		font-size: 15px;
		color: inherit;
	}
}